<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
<<<<<<< HEAD
    <h1>Pig Latinizer!</h1>
    
    <form method="post" action="/">
  <p>Enter your phrase:</p>
  <textarea name="user_phrase"></textarea>
=======
    <h1>Pig Latinizer</h1>
    
    <form method="post" action="/">
  <p>Input the text you want analyzed here:</p>
  <textarea name="user_text"></textarea>
>>>>>>> ea468430825ee2056c21d6b5165b68e873034f42
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
  
  </body>
</html>